<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="cheese : ${cheeses}" class="checkbox">
        <input type="checkbox" name="cheeseIds" th:value="${cheese.id}" th:id="${cheese.id}"/>
        <label th:for="${cheese.id}" th:text="${cheese.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Cheese" />
</form>

<div th:if="${error}" style="color:red">
    <h3> According to the assignment, there is no need to remove a cheese in a crud repository</h3>
    <p>This bothers me, so I'm learning more about CASCADE, table-join columns, and how to delete them using Spring/JPA/Hibernate</p>
</div>

</body>
</html>